* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    /* Custom colors */
    
    --black: #000;
    --orange: #D76239;
    --white: #FFFFFF;
    --minty-green: #4A8B70;
    --slate-gray: #4A4A4A;
    --cloud-gray: #DADADA;

    /* Custom fonts */

    --extra-small-font: 0.75rem;
    --small-font: 1rem;
    --medium-font: 1.25rem;
    --large-font: 1.5rem;
    --extra-large-font: 2rem;

    /* Custom gaps */

    --small-gap: 1vw;
    --medium-gap: 2.5vw;
    --large-gap: 3.5vw;

    /* Custom paddings */

    --extra-small-padding: 0.5em 1em;
    --small-padding: 0.25em 0.75em;
    --medium-padding: 1.75vw 1.5vw;
    --large-padding: 3.25vw 2.75vw;
    --extra-large-padding: 4.5vw 4vw;

    /* Custom shadows */

    --light-shadow: 2px 2px 2px var(--cloud-gray);
    --dark-shadow: 3px 3px 3px var(--cloud-gray);

    /* Custom border radius */

    --light-border-radius: 0.5rem;
    --normal-border-radius: 1rem;
    --heavy-border-radius: 2rem;

}

/* BODY */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--large-gap);
    background-color: var(--cloud-gray);
    padding: var(--extra-large-padding);
    font-family: "Poppins", sans-serif;
}

/* Sections Overview */

.section {
    background-color: var(--white);
    border-radius: var(--normal-border-radius);
    padding: var(--large-padding);
    box-shadow: var(--light-shadow);
}

.section-heading {
    font-weight: 500;
    font-size: var(--extra-large-font);
}

/* Main Sections */

main {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    width: 100%;
}

.top-main {
    display: flex;
    justify-content: space-between;
    gap: var(--large-gap);
}

.middle-main {
    display: flex;
    gap: var(--large-gap);
}

/* Header */

header {
    display: flex;
    gap: var(--large-gap);
}

.profile-picture {
    width: 25%;
    height: auto;
    border-radius: var(--light-border-radius);
    object-fit: cover;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--extra-large-padding);
    border-radius: var(--light-border-radius);
    background-color: var(--white);
    box-shadow: var(--dark-shadow);
    width: 75%;
    gap: var(--small-gap);
}

.full-name {
    font-size: var(--extra-large-font);
    color: var(--black);
    font-weight: 600;
}

.bio-text {
    font-size: var(--medium-font);
    font-weight: 400;
    line-height: 1.5;
    color: var(--slate-gray);
}

/* Proficiency */

.proficiency-section {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
}

.proficiency-levels {
    display: flex;
    gap: var(--small-gap);
    font-size: var(--large-font);
    font-weight: 500;
}

.proficiency-languages {
    display: flex;
    gap: var(--small-gap);
}

.proficiency-name,
.proficiency-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--small-gap);
}

.proficiency-name p {
    font-size: var(--large-font);
    font-weight: 500;
    white-space: nowrap;
}

.proficiency-bars {
    width: 100%;
}

.proficiency-bars div {
    background-color: var(--minty-green);
    height: 2vw;
    border-radius: var(--light-border-radius);
}

.proficiency-bars div:nth-child(1) {
    width: 60%;
}

.proficiency-bars div:nth-child(2) {
    width: 20%;
}

.proficiency-bars div:nth-child(3) {
    width: 40%;
}

.proficiency-bars div:nth-child(4) {
    width: 100%;
}

/* Skills */

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: var(--small-gap);
}

.skill-tags div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
}

.skill-tags span {
    background-color: #ECF4F1;
    font-size: var(--large-font);
    padding: var(--small-padding);
    border-radius: var(--heavy-border-radius);
    display: inline-block;
}

/* Projects */

.projects-section h2 {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--large-gap);
    margin-top: 2.5vw;
}

.project-article {
    border-radius: var(--light-border-radius);
    box-shadow: var(--light-shadow);
    background-color: #E7F0EC;
    color: var(--black);
    padding: var(--medium-padding);
}

.fav-article {
    background-color: var(--minty-green);
    color: var(--white);
}

.top-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-article p {
    font-size: var(--medium-font);
    font-weight: 500;
}

.heart-icon {
    width: 1.9vw;
    height: 1.65vw;
}

.project-article h3 {
    margin: 1.5vw 0;
    font-size: var(--large-font);
    font-weight: 600;
}

.project-content {
    font-size: var(--small-font);
    font-weight: 400;
}

.project-content strong {
    font-weight: 700;
}

.project-content p:nth-child(2) {
    margin: 1.25vw 0;
}

/* Education */

.education-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--medium-gap);
    flex: 1;
}

.education-article {
    background-color: #E7F0EC;
    padding: var(--large-padding);
    border-radius: var(--light-border-radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--large-gap);
    box-shadow: var(--light-shadow);
}

.first-edu-article {
    background-color: var(--minty-green);
    color: var(--white);
}

.mobile-education {
    display: none;
}

.education-summary {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    grid-column: span 1;
    font-size: var(--small-font);
}

.edu-time-period {
    font-weight: 500;
}

.edu-institution {
    font-weight: 500;
    font-size: var(--medium-font);
    margin: 0.5vw 0;
}

.edu-qualification {
    font-weight: 400;
}

.education-detail {
    grid-column: span 2;
    font-size: var(--small-font);
}

.education-summary {
    flex: 1;
}

.education-detail {
    flex: 3;
}

/* Tools */

.tools-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: var(--normal-border-radius);
}

.list-tools {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.tools-headings {
    font-weight: 500;
    font-size: var(--extra-small-font);
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--heavy-border-radius);
    padding: var(--extra-small-padding);
    display: inline-block;
    position: relative;
    transform: translateY(50%);
}

.languages-icons,
.design-icons,
.tools-icons {
    background-color: #E7F0EC;
    padding: var(--large-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--large-gap);
    border-radius: var(--light-border-radius);
    width: 100%;
}

.icons {
    width: 3.3vw;
    height: 3.3vw;
}

/* Experience */

.experience-section {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

.experience-block {
    background-color: #E7F0EC;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--large-gap);
    padding: var(--large-padding);
    border-radius: var(--light-border-radius);
    font-size: var(--small-font);
}

.recent-experience {
    background-color: var(--minty-green);
    color: var(--white);
}

.experience-overview {
    flex: 1;
}

.experience-detail {
    flex: 3;
}

.experience-date {
    font-weight: 500;
}

.experience-name {
    font-size: var(--medium-font);
    font-weight: 500;
    margin: 0.5vw 0;
}

.experience-company-and-length {
    font-weight: 400;
}

.experience-detail {
    font-weight: 400;
}

.most-recent {
    background-color: var(--orange);
    font-size: var(--extra-small-font);
    white-space: nowrap;
    padding: var(--extra-small-padding);
    border-radius: var(--heavy-border-radius);
}

.mobile-experience {
    display: none;
}

/* Footer */

.footer-section {
    background-color: var(--orange);
    color: var(--white);
    padding: var(--extra-large-padding);
    width: 100%;
    border-radius: var(--normal-border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.footer-section > h2 {
    font-size: var(--extra-large-font);
    font-weight: 500;
}

.footer-details a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease;
}

.footer-details a:hover {
    transform: scale(1.05);
    color: var(--black);
}

.footer-details {
    display: flex;
    gap: var(--medium-gap);
    font-weight: 400;
    font-size: var(--medium-font);
}

/* Media Quires */

@media (max-width: 640px) {
    :root {
        --extra-small-font: 0.375rem;
        --small-font: 0.5rem;
        --medium-font: 0.625rem;
        --large-font: 0.75rem;
        --extra-large-font: 1rem;
    }
    .footer-section > h2 {
        font-size: var(--medium-font);
    }
    .footer-details {
        gap: var(--small-gap);
        font-size: var(--extra-small-font);
    }
}

@media (max-width: 768px) {
    :root {
        --extra-small-font: 0.5625rem;
        --small-font: 0.75rem;
        --medium-font: 0.9375rem;
        --large-font: 1.125rem;
        --extra-large-font: 1.5rem;

        --small-gap: 0.5vw;
        --medium-gap: 1.25vw;
        --large-gap: 1.75vw;

        --medium-padding: 1.3125vw 1.125vw;
        --large-padding: 2.4375vw 2.0625vw;
        --extra-large-padding: 3.375vw 3vw;
    }
    .section-heading {
        font-size: var(--large-font);
    }
    .top-main {
        flex-direction: column;
    }
    .profile-picture {
        width: 50%;
        max-width: 50vw;
    }
    .profile-section {
        width: 50%;
    }
    .full-name {
        font-size: var(--large-font);
    }
    .bio-text {
        font-size: var(--small-font);
    }
    .proficiency-levels {
        gap: var(--large-gap);
    }
    .proficiency-name {
        flex: 1;
    }
    .proficiency-bars {
        flex: 4;
    }
    .proficiency-bars div {
        border-radius: 0.25rem
    }
    .proficiency-levels {
        font-size: var(--medium-font);
    }
    
    .proficiency-name p {
        font-size: var(--medium-font);
    }
    .skills-section {
        gap: var(--medium-gap);
    }
    .skill-tags span {
        font-size: var(--medium-font);
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-article h3 {
        margin: 1vw 0;
        font-size: var(--medium-font);
    }
    .project-article {
        padding: var(--large-padding);
    }
    .middle-main {
        flex-direction: column;
    }
    .list-tools {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .list-tools article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    .languages-icons,
    .design-icons,
    .tools-icons {
        height: 100%;
        padding: var(--extra-large-padding);
    }
    .tools-headings {
        align-self: center;
    }
    .footer-section {
        padding: var(--large-padding);
    }
    .footer-details a:hover {
        transform: scale(1.025);
    }
    .desktop-education,
    .desktop-experience {
        display: none;
    }
    .mobile-education {
        display: flex;
        flex-direction: column;
        gap: var(--small-gap);
    }
    .education-top-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-education .edu-time-period {
        font-size: var(--small-font);
    }
    .mobile-experience {
        display: flex;
        flex-direction: column;
        gap: var(--small-gap);
    }
    .experience-mobile-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .experience-name {
        font-size: var(--small-font);
    }
    .education-bottom-mobile,
    .experience-mobile-bottom {
        display: flex;
        gap: var(--large-gap);
    }    
    .edu-institution {
        font-size: var(--small-font);
    }
    .education-article {
        gap: 4vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --extra-small-font: 0.5625rem;
        --small-font: 0.75rem;
        --medium-font: 0.9375rem;
        --large-font: 1.125rem;
        --extra-large-font: 1.5rem;

        --small-gap: 0.75vw;
        --medium-gap: 1.875vw;
        --large-gap: 2.625vw;
    }
    
}