/* Base Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Custom colors */

:root {
    --black: #000;
    --orange: #D76239;
    --white: #FFFFFF;
    --minty-green: #4A8B70;
    --slate-gray: #4A4A4A;
    --cloud-gray: #DADADA;
}

/* BODY */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--cloud-gray);
    padding: 4rem 3.5rem;
    font-family: "Poppins", sans-serif;
}

/* Sections Overview */

.section {
    background-color: var(--white);
    border-radius: 0.75rem;
    padding: 3.25rem 1.75rem;
    box-shadow: 2px 2px 2px var(--cloud-gray);
}

.section-heading {
    font-weight: 500;
    font-size: clamp(1rem, 3vw ,2rem);
}

/* - - - - - - - HEADER - - - - - - -  */

header {
    display: flex;
    gap: 1.75rem;
}

/* Profile - - -  Left - - - */

.profile-picture {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 1.5rem;
}

/* Profile - - - Right - - - */

.profile-section {
    padding: 3rem 4rem;
    border-radius: 0.75rem;
    background-color: var(--white);
    box-shadow: 3px 3px 3px var(--cloud-gray);
}

.full-name {
    font-size: clamp(1rem, 3vw, 2.25rem);
    color: var(--black);
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.bio-text {
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--slate-gray);
}

/* - - - - - - - - Main - - - - - - - - - */

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.top-main {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

/* - - - - - - - - -    PROFICIENCY - - - - - - - */

.proficiency-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Proficiency Middle */

.proficiency-levels {
    display: flex;
    gap: 0.75rem;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    font-weight: 500;
}

/* Proficiency Bottom */

.proficiency-languages {
    display: flex;
    gap: 1rem;
}

/* Proficiency Names */

.proficiency-name,
.proficiency-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.proficiency-name p {
    font-size: 1.5rem;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    font-weight: 500;
    white-space: nowrap;
}

/* Proficiency Bars */

.proficiency-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.proficiency-bars div {
    background-color: var(--minty-green);
    height: 1.625rem;
    height: clamp(1.125rem, 2vw ,1.625rem);
    border-radius: 0.5rem;
}

.proficiency-bars div:nth-child(1) {
    width: 75%;
}

.proficiency-bars div:nth-child(2) {
    width: 25%;
}

.proficiency-bars div:nth-child(3) {
    width: 50%;
}

.proficiency-bars div:nth-child(4) {
    width: 100%;
}

/* - - - - - - - - SKILLS - - - - - - - -  */

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.skill-tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15.5rem;
}

.skill-tags span {
    background-color: #ECF4F1;
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 6rem;
    margin-right: 2rem;
    white-space: nowrap;
}

/* - - - - - - - - PROJECTS - - - - - - - -  */

.projects-section h2 {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 2.125rem;
}

/* Project - Articles */

.project-article {
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px var(--cloud-gray);
    background-color: #E7F0EC;
    color: var(--black);
    padding: 1.375rem 1.25rem;
}

.fav-article {
    background-color: var(--minty-green);
    color: var(--white);
}

/* Projects - Top Article */

.top-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-article p {
    font-size: clamp(0.5rem, 2vw ,1.5rem);
    font-weight: 500;
}

.heart-icon {
    width: 1.625rem;
    height: 1.375rem;
}

/* Projects - Rest Article*/

.project-article h3 {
    margin: 1.5rem 0;
    font-size: clamp(0.5rem, 2vw ,1.5rem);
    font-weight: 500;
}

.project-content {
    font-size: clamp(0.75rem, 1.75vw ,1.25rem);
    font-weight: 400;
}

.project-content strong {
    font-weight: 700;
}

.project-content p:nth-child(2) {
    margin: 1.5rem 0;
}

/* - - - - - - - MIDDLE MAIN - - - - - - - */

/* Middle Main */

.middle-main {
    display: flex;
    gap: 1.375rem;
}

/* Education */

.education-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

/* Education - Article */

.education-article {
    background-color: #E7F0EC;
    padding: 2rem;
    border-radius: 1.875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    box-shadow: 2px 2px 2px var(--cloud-gray);
}

.first-edu-article {
    background-color: var(--minty-green);
    color: var(--white);
}

/* Education - Article (Summary) */

.education-summary {
    display: flex;
    flex-direction: column;
    gap: 2px;
    grid-column: span 1;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
}

.edu-time-period {
    font-weight: 500;
}

.edu-institution {
    font-weight: 500;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.edu-qualification {
    font-weight: 400;
}

/* Education - Article (Details) */

.education-detail {
    grid-column: span 2;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
}

/* Tools */

.tools-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px red solid;
}

.list-tools {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools-headings {
    font-weight: 500;
    font-size: 0.75rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 9rem;
    padding: 0.375rem 1rem;
    display: inline-block;
    position: relative;
    transform: translateY(50%);
}

.languages-icons,
.design-icons,
.tools-icons {
    background-color: #E7F0EC;
    padding: 2.5rem 2.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 100%;
}

.icons {
    width: 2.5rem;
    height: 2.5rem;
}

/* - - - - - - - - - - Experience - - - - - - - -  - */

.experience-section {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.experience-block {
    background-color: #E7F0EC;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 1.5rem 1.25rem;
    border-radius: 1.75rem;
}

.recent-experience {
    background-color: var(--minty-green);
    color: var(--white);
}

.experience-date {
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    font-weight: 500;
}

.experience-name {
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    font-weight: 500;
}

.experience-company-and-length {
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    font-weight: 400;
}

.experience-detail {
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    font-weight: 400;
}

.recent-experience > p {
    background-color: var(--orange);
    margin-left: 2.5rem;
    font-size: clamp(0.75rem, 1.5vw, 1.75rem);
    white-space: nowrap;
    padding: 0.25rem 1rem;
    border-radius: 8.875rem;
}

/* - - - - - - - - - - Footer - - - - - - - -  - */

.footer-section {
    background-color: var(--orange);
    color: var(--white);
    padding: 1.875rem;
    width: 100%;
}

.footer-section > h2 {
    font-size: 2.125rem;
    font-size: clamp(0.875rem, 2vw, 2.125rem);
    font-weight: 500;
}

.footer-details a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer-details {
    display: flex;
    gap: 0.75rem;
    font-weight: 400;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
}

/* - - - Media Quires - - - */

@media (min-width: 768px) and (max-width: 1200px) {
    body {
        padding: 3rem 2.5rem;
        gap: 2rem;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .profile-section {
        padding: 2rem 3rem;
    }
    .top-main,
    .middle-main {
        flex-direction: column;
    }
    header {
        gap: 1.25rem;
    }
    .top-main,
    .main {
        gap: 2rem;
    }
    .profile-picture {
        width: 35vw;
        height: 35vw;
    }
    .section {
        padding: 2.75rem 1.25rem;
    }
    .proficiency-section {
        gap: 1.5rem;
    }
    .proficiency-languages {
        gap: 0.75rem;
    }
    .proficiency-name,
    .proficiency-bars {
        gap: 0.75rem;
    }
    .skill-tags {
        margin-top: 2rem;
    }
    .skill-tags span {
        font-size: 1.5rem;
        margin-right: 2.125rem;
        padding: 0.25rem 0.5rem;
    }
    .projects {
        margin-top: 1.5rem;
    }
    .heart-icon {
        width: 1.5rem;
        height: 1.25rem;
    }
    .project-article h3 {
        margin: 1rem 0;
    }
    .project-content p:nth-child(2) {
        margin: 1rem 0;
    }
    .education-section {
        margin-bottom: 1rem;
    }
    .experience-section {
        gap: 1.75rem;
    }
    .education-section {
        gap: 1rem;
    }
    .education-article {
        padding: 1.75rem;
        gap: 1.5rem;
    }
    .education-summary {
        gap: 1.5px;
    }
    .list-tools {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
    }
    .experience-section {
        gap: 1.5rem;
    }
    .experience-block {
        gap: 2rem;
        padding: 1.25rem 1rem;
    }
    .recent-experience > p {
        margin-left: 2rem;
        padding: 0.25rem 0.75rem;
    }
    .footer-section {
        padding: 1.75rem;
    }    
    .footer-details {
        gap: 0.5rem;
    }
}

@media (max-width: 767px) {
    body {
        padding: 2rem 1.5rem;
        gap: 1rem;
    }
    .profile-section {
        padding: 0.5rem 1.5rem;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-main,
    .middle-main {
        flex-direction: column;
    }
    header {
        gap: 0.75rem;
    }
    .top-main,
    .main {
        gap: 1rem;
    }
    .profile-picture {
        width: 40vw;
        height: 40vw;
    }
    .section {
        padding: 1.5rem 0.75rem;
    }
    .proficiency-section {
        gap: 1rem;
    }
    .proficiency-languages {
        gap: 0.5rem;
    }
    .proficiency-name,
    .proficiency-bars {
        gap: 0.5rem;
    }
    .skill-tags {
        margin-top: 2rem;
    }
    .skill-tags span {
        font-size: 1.25rem;
        margin-right: 1.25rem;
        padding: 0.125rem 0.25rem;
    }
    .projects {
        margin-top: 1rem;
    }
    .heart-icon {
        width: 1.375rem;
        height: 1.125rem;
    }
    .project-article h3 {
        margin: 0.5rem 0;
    }
    .project-content p:nth-child(2) {
        margin: 0.5rem 0;
    }
    .education-section {
        margin-bottom: 1rem;
    }
    .education-section {
        gap: 0.75rem;
    }
    .education-article {
        padding: 1.5rem;
        gap: 1rem;
    }
    .education-summary {
        gap: 1px;
    }
    .list-tools {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin: 0;
    }
    .experience-section {
        gap: 1.25rem;
    }
    .experience-block {
        gap: 1.5rem;
        padding: 1rem 0.75rem;
    }
    .recent-experience > p {
        margin-left: 1rem;
        padding: 0.25rem 0.5rem;
    }
    .footer-section {
        padding: 1.25rem;
    }
    .footer-details {
        gap: 0.25rem;
    }
}